@media screen and (max-width:1680px){
	.img-fluid{ width: 60%;}
	.img-fluid{ height: auto;}
	.welcome-hero {
		height: 100vh;
		position: relative;
		/* background:url(../images/oqcs/background.jpg)no-repeat; */
		background-position: center 50%;
		/* background-size: cover; */
		background-size: contain; 
		/* display: flex; */
		/* align-items: center; */
		justify-content: center;
		z-index: 1;
	}
	.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {
		padding:30px 0px;
	}
	

}/*max-width:1680px*/
@media screen and (max-width:1440px){
	.welcome-hero-txt {padding: 268px 0px 122px;}
	.tentangkami {position: relative;bottom: 0;top: 100px;}
	.img-service-3{ margin-left: 50px;}
	
}/*max-width:1440px*/

@media screen and (max-width:1199px){
	.welcome-hero-txt h2{font-size: 40px;}
	.welcome-btn.tentangkami{margin-left: 28px;}
	.featured-cars-img {padding: 0 10px;}
	
}/*max-width:1199px*/

@media screen and (max-width:1024px){
	.img-service-3{ margin-left: 50px;}

}/*max-width:1024px*/

@media screen and (max-width:1008px){

}/*max-width:1008px*/

@media screen and (max-width:992px){
	nav.navbar.bootsnav .navbar-collapse.collapse.in {padding-bottom: 30px;}
	nav.navbar.bootsnav {background-color:#000;}
	.wrap-sticky nav.navbar.bootsnav.sticked ul.nav > li > a {padding: 18px 0px;}
	nav.navbar.bootsnav .navbar-brand {padding: 25px;}
	nav.navbar.bootsnav ul.nav > li > a {padding: 15px 0px;border: transparent;}
}/*max-width:992px*/

@media screen and (max-width:991px){
	.welcome-hero-txt h2 {line-height: 1.6;}

	.tentangkami .col-sm-12 {padding: 0 40px;}
	.single-tentang-kami-content:last-child {margin-bottom: 30px;}

	.single-new-cars-item {max-width: 450px; margin: 0 auto;}
	.new-cars-txt {margin: 30px 0;}
	.img-service-3{ margin-left: 30px;}
	.img-fluid{ width: 100%;}
	.img-fluid{ height: auto;}
	.img-fluid{ padding-left: 15px;}
	a.navbar-brand{
		width: 15rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 45px 0px;
	}
	.welcome-hero {
		height: 100vh;
		position: relative;
		background-position: center 20%;
		/* background-size: cover; */
		background-size: contain; 
		/* display: flex; */
		/* align-items: center; */
		justify-content: center;
		z-index: 1;
	}
	.welcome-hero-txt h2 {
		font-size: 24px;
		color: #000000;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 10rem;
	}
	.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {
		padding:15px 0px;
	}
	

}/*max-width:991px*/

@media screen and (max-width:768px){
	.img-service-3{ margin-left: 30px;}
	.welcome-hero {
		height: 100vh;
		position: relative;
		background-position: center 20%;
		/* background-size: cover; */
		background-size: contain; 
		/* display: flex; */
		/* align-items: center; */
		justify-content: center;
		z-index: 1;
	}
	.welcome-hero-txt p {
		font-size: 2rem;
		color: #000000;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 1rem;
	}


    
}/*max-width:768px*/

@media screen and (max-width:767px){
	.card-item {max-width: 350px;margin: 30px auto;}
	.single-featured-cars {max-width: 350px;margin: 0 auto;}
	.footer-social {text-align: left;}
	.footer-social a i {margin-right: 16px;margin-left: 0;}
	.hm-foot-email {max-width: 300px;}
	.img-service-3{ margin-left: 0px;}
}/*max-width:767px*/

@media screen and (max-width: 660px){

	.img-service-3{ margin-left: 0px;}
}/*max-width:660px*/

@media screen and (max-width: 640px){
	.single-testimonial-box {max-width: 350px;margin: 0 auto;}
	.img-service-3{ margin-left: 0px;}
}/*max-width:640px*/

@media screen and (max-width: 580px){
	.img-service-3{ margin-left: 0px;}

}/*max-width:580px*/

@media screen and (max-width: 540px){
	.img-service-3{ margin-left: 0px;}

}/*max-width:540px*/

@media screen and (max-width: 480px){
	.welcome-hero h2 {font-size: 30px;}
	.single-tentang-kami-content h2 {font-size:16px;}
}/*max-width:480px*/

@media screen and (max-width: 440px){
	.welcome-hero-txt h2,{font-size: 24px;line-height: 1.5;}
	.paragraf-about-1 {
		color: black;
		/* font-size: small; */
		text-align: justify;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 15px;
	}
}/*max-width:400px*/

@media screen and (max-width: 399px){
	.testimonial-carousel .col-sm-3, .testimonial-carousel .col-xs-12 {width: 260px;}
	.card-item h2 a {line-height: 1.5;}
	.section-header h2 {font-size: 30px;}

}/*max-width:399px*/

@media screen and (max-width:350px){
	nav.navbar.bootsnav .navbar-toggle {margin-right: -25px;left:-10px;}
	nav.navbar.bootsnav .navbar-brand {padding:25px 0;font-size: 20px;}
	.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand, .wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {padding: 20px 0px;}
	a.navbar-brand{
		width: 70px;
	}
}
/*max-width:350px*/

@media screen and  (max-width: 320px){
	
}/*max-width:320px*/

